.closebtn {
    margin-left: 15px;
    color: aqua;
    background-color: yellowgreen;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.header {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.header .header-content {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

body {
    background: #dcf5f5;
    /*#ff7b00*/
    color: #0b4360;
    text-align: center;
    font-size: x-large;
    font-family: "Sansita", sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile **************************/
header {
    background-color: #e0b499;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgb(0 0 0 / 0.1);
}

header,
main {
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: aqua;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: orangered;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

.active {
    color: brown;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #e0b499;
    padding: 20px;
    text-align: center;
}

.ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

price {
    list-style-type: none;
}