/* Larger Views ******************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}

@media (width > 640px) {

    /* If the media is larger than 640 px then the grid-template-columns change to 4 */
    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

/* @media (width > 640px) { */

/* If the media is larger than 640 px then the grid-template-columns change to 4 */
/* .main { */
/* display: grid; */
/* grid-template-columns: repeat(4, 1fr); */
/* } */
/* } */

.leftcolumn {
    float: left;
    width: 25%;
}

.rightcolumn {
    float: left;
    width: 70%;
    padding-left: 20px;
}

.card {
    background-color: #dcf5f5;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #0b4360;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.main {
    background-color: #f5f5f5;
    padding: 1.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: #2196F3;
    padding: 5px;
}

.container>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.container>div.header {
    grid-area: header;
    text-align: center;
}

.container>div.menu {
    grid-area: menu;
}

.container>div.content {
    grid-area: content;
}

.container>div.footer {
    grid-area: footer;
}