.column {
    float: left;
    margin-left: 50px;
    width: 25%;
    padding: 45px;
    text-align: center;
    font-size: 44px;
    cursor: pointer;
    color: white
}

.containerTab {
    padding: 50px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.row b1 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.overlay {
    font-size: 44px;
}

.li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.table-container {
    padding-left: 450px;
    display: center;
    margin: 0 auto;
    border-collapse: collapse;

}