@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    background: #c75911;
    color: #022f40;
    text-align: center;
    font-size: x-large;
}

header {
    background: #c75911;
    padding: 20px;
    margin: 10px;
}

nav {
    max-width: 700px;
    background-color: #f7c548;
    /*padding: 20px;*/
    margin: 1rem auto;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #022f40;
    position: absolute;
    padding: 1px 6px 1px 6px;
    top: 1rem;
    /* right: 200px; */
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #125C81;
    color: #ECFEFE;
}

.navigation a {
    display: none;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #c75911;
    color: #022f40;
    font-weight: 700;
}

.open a {
    display: block;
}


/* large view navigation ************************************/

@media (min-width: 40.5em) {
    #menu {
        display: none;
        /* hide hamburger button */

    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
}

ul {
    list-style-type: none;
}

.grid-container {
    background-color: #f7c548;
}

.card {
    box-sizing: border-box;
}

clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background: #c75911;
    color: #022f40;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 200%;
    color: #022f40;

}

h3 {
    background-color: #125C81;
    color: #ECFEFE;
    font-size: x-large;

}

img {
    border-style: outset;
    border-color: #125C81;
    border-radius: 25px;
    width: 16%;
    height: auto;
    align-items: center;
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #022f40;
}

.label {
    font-family: Arial, sans-serif;
    font-weight: 700;
}

#visits {
    color: navy;
    font-weight: bolder;
    font-size: larger;
}

#session {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#session li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #c1c7ca);
    border: 1px solid #022f40;
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {

    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Great Vibes", serif;
}

@media (min-width:760px) {

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
    }
}