body {
    background: #5B8E7D;
    color: #022f40;
    text-align: center;
    font-size: x-large;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}

header {
    background: #5B8E7D;
    padding: 20px;
    grid-column: 1 / 3;
    margin: 10px;
}

nav {
    grid-column: 1 / 3;
    background-color: #f7c548;
    padding: 20px;
}

ul {
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    gap: 40px;
    background-color: #f7c548;
}

.card {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
}

clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background: #5B8E7D;
    color: #022f40;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
}

h1 {
    font-size: 200%;
    color: #022f40;

}

h3 {
    background-color: #125C81;
    color: #ECFEFE;
    font-size: x-large;

}

img {
    border-style: outset;
    border-color: #125C81;
    border-radius: 25px;
    width: 16%;
    height: auto;
    align-items: center;

}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

main {
    max-width: 670px;
    margin: 0 auto;
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid #022f40;
    height: 300px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herolabel {
    text-wrap: nowrap;
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #c1c7ca);
    border: 1px solid #022f40;
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {

    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Great Vibes", serif;
}

@media (min-width:760px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .right {
        grid-column: 4 / 6;
    }

    .left {
        grid-column: 1 / 4;
    }

}