/* Larger Views ******************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}

#session {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#session li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}